// DisplayItem.less

@import '../../mixins/z-index.less';
@import '../../mixins/colours.less';

// Aspect ratio of 1:1.25.
@single-width: 1%;
@single-height: 1.25%;

@big: 20;
@medium: 25;
@small: 33.33333;
@full: 100;

@padding: 0.15em;

.mt-display-item {
	z-index: @content-display-z;
	display: block;
	background-color: orange;
	margin: 0;
	overflow: hidden;
	float: left;
	position: relative;
	height: 0;
	border: @padding solid @background-color;
}

.single {
	width: @single-width * @full;
	padding-bottom: @single-height * @full;
}

.double-double {
	width: @single-width * @full;
	padding-bottom: @single-height * @full;

	&.right {
		float: right;
	}
}

@media screen and (min-width: @container-small-width) {
	.single {
		width: @single-width * @small;	
		padding-bottom: @single-height * @small;
	}

	.double-double {
		width: @single-width * @small * 2;

		// TODO: This doesn't display work very well. Look into it!
		padding-bottom: calc((@single-height * @small * 2) + @padding * 2.5);
	}
}

@media screen and (min-width: @container-medium-width) {
	.single {
		width: @single-width * @medium;	
		padding-bottom: @single-height * @medium;
	}

	.double-double {
		width: @single-width * @medium * 2;

		// TODO: This doesn't display work very well. Look into it!
		padding-bottom: calc((@single-height * @medium * 2) + @padding * 2.5);
	}
}

@media screen and (min-width: @container-big-width) {
	.single {
		width: @single-width * @big;	
		padding-bottom: @single-height * @big;
	}

	.double-double {
		width: @single-width * @big * 2;

		// TODO: This doesn't display work very well. Look into it!
		padding-bottom: calc((@single-height * @big * 2) + @padding * 2);
	}
}

.mt-info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: green;
	height: 25%;
	padding: 1em;
	pointer-events: none;
}

.mt-title {
	display: block;
}

.mt-subtitle {
	display: block;
}

.mt-favourite {

}