// DisplayItem.less

@import '../../mixins/Zindex.less';

.mt-display-item {
	z-index: @content-display-z;
	display: inline-block;
	background-color: orange;
	margin: 0;
	overflow: hidden;

	// types of content displays, currently only single+double are implemented
	&.single {
		height: 20em;
		width: 20em;
	}

	&.double {
		height: 20em;
		width: 40em;
	}
}