@import (less) '../node_modules/normalize-css/normalize.css';
@import 'mixins/colours.less';

* {
	box-sizing: border-box;
}

body, html {
	min-height: 100%;
}

body {
	background: @background-color;
}

// injector
// endinjector